body {
    background-color: #24353F;
    font-family: sans-serif;
}

.home {
    height: 75vh;
}

.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    h1 {
        color: #17a2b8;
        font-size: 40px;
    }
    .form-control {
        background-color: transparent;
        color: #fff;
        &:focus {
            box-shadow: 0 0 0 0 transparent;
        }
        &::placeholder {
            color: #B6B6B6;
        }
    }
    .btn {
        &:hover {
            --bs-btn-hover-color: #fff;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}